<header>
    <div class ="container-header">

    <a routerLink="/home"><img class="logo" src="../../../assets/img/LOGO.jpg" alt="Logo Game Mania"></a>

    <nav id="menu" class="menu">

        <a routerLink="/home">Home</a>

        <a href="#">Carrinho</a>

        <a routerLink="/login">Login</a>

        <a href="#">Menu</a>
        
    </nav>

    

    <a href="#" onclick="mostrarMenu" id="barras" ><img class="barras" src="../../../assets/img/bars-solid.svg" alt="menu de barras"></a>
    </div>

    
</header>

<script>
    let menu = document.getElementById("menu");

    function mostrarMenu(){
       if(menu.style.display === "block") {
            menu.style.display = "none"
        } else {
            menu.style.display = "block"
        }    
    }
</script>